@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
.rotateIcon_wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.rotateIcon {
    @include keyframes(rotate) {
        100% {
            transform: rotate(360deg); 
        }
    }
    @include animate(rotate, 0.8s, linear, infinite);
}

// $TODO: 햄버거 => x버튼 애니매이션 구현
.exitToBurgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
    width: 32px;
    height: 32px;
    background-color: var(--color-surface);
    border-radius: 4px;

    .exitBtn {
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        .stick {
            cursor: pointer;
            display: block;
            position: absolute;
            height: 3px;
            width: 16px;
            background: var(--color-primary);
            opacity: 1;
            left: 50%;
            -webkit-transform: rotate(0deg) translate(-50%);
            -moz-transform: rotate(0deg) translate(-50%);
            -o-transform: rotate(0deg) translate(-50%);
            transform: rotate(0deg) translate(-50%);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        .stick1{
            top: -8.5px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        .stick2 {
            top: -1px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        .stick3 {
            top: 6.5px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
    }
    
    .exitBtn.open {

        .stick{
            width:20px;
        }

        .stick1{
            -webkit-transform: rotate(45deg) translate(-50%);
            -moz-transform: rotate(45deg) translate(-50%);
            -o-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%);
            top: -1px;
            left: 50%;
        }
        .stick2{
            width: 0%;
            opacity: 0;
        }
        .stick3{
            -webkit-transform: rotate(-45deg) translate(-50%);
            -moz-transform: rotate(-45deg) translate(-50%);
            -o-transform: rotate(-45deg) translate(-50%);
            transform: rotate(-45deg) translate(-50%);
            top: -1px;
            left: 50%;
        }
    }
}

.btnGroup{
    height: fit-content;
    display: flex;
    width:fit-content;    

    .btnElement{
        button{
            border-right: none !important;
        }
        &:first-child{
            button{
                border-radius: 4px 0px 0px 4px !important;
    
            }
        }
        &:last-child{
            button{
                border-right: 1px solid rgb(112, 167, 136) !important;
                border-radius: 0px 4px 4px 0px !important;
    
            }
        }
    }
   
}

.buttonContainer {
    &.filled {
        background-color:  var(--color-primary);
        &.negativeMood {
            background-color: var(--color-error);
        }
    };

    &.tonal {

    };

    &.outlined {
        
    };

    &.text {

    }

    &.textGray {

    }
}
