@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.joinPage-container {
  @include flexbox(center, center);
  width: 100%;
  height: 100vh;

  @include mobile-verti () {
    min-width: 375px;
  }
  
  @include mobile () {
    min-width: 375px;
  }

  .authCard-wrapper {
    @include mobile-verti() {
      width: 100%;
      height: 100%;
    }
    @include mobile() {
      width: 100%;
      height: 100%;
    }
  }
}