@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.container {
  width: 380px;

  .text-wrapper {
    @include flex-direction(column, 8);
  }
}

.checkbox-container {
  @include flex-direction(row, 8);
}

.checkbox-wrapper {
  @include flex-direction(row, 4);
  @include flexbox(start, center);
  width: fit-content;
}

.modal-buttons-wrapper {
  @include flex-direction(row, 16);
  @include flexbox(end, center);
}

.images-container {
  @include flex-direction(column, 8);
}

.images-wrapper {
  @include flex-direction(row, 16);
}

.imagePlaceholder-container {
  @include flexbox(center, center);
  width: 120px;
  height: 120px;
  border-radius: 16px;
  border: 3px dashed var(--color-surfaceVariant);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 3px dashed var(--color-outline);

    svg {
      fill: var(--color-outline);
    }
  }

  svg {
    transition: all 0.3s ease-in-out;
    fill: var(--color-surfaceVariant);
  }
}

.input {
  display: none;
}

.preview-container {
  @include flexbox(center, center);
  width: 120px;
  height: 120px;
  border-radius: 16px;
  border: 3px solid var(--color-surfaceVariant);
  position: relative;

  div {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .preview {
    border-radius: 13px;
  }
}