@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.container {
  width: 100%;

  .text-wrapper {
    @include flex-direction(column, 8);
    @include mobile-verti() {
      @include flex-direction(column, 4);
    };
  }
}

.checkbox-container {
  @include flex-direction(row, 8);
}

.checkbox-wrapper {
  @include flex-direction(row, 4);
  @include flexbox(start, center);
  width: fit-content;
}

.modal-buttons-wrapper {
  @include flex-direction(row, 16);
  @include flexbox(end, center);
}

.images-container {
  @include flex-direction(column, 8);
  width: 100%;
}

.images-wrapper {
  // @include flex-direction(row, 16);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @include mobile-verti() {
    gap: 8px;
  }
}

.imagePlaceholder-container {
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.imagePlaceholder-wrapper {
  @include flexbox(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 3px dashed var(--color-surfaceVariant);
  transition: all 0.3s ease-in-out;

  @include mobile-verti() {
    border-radius: 8px;
  }

  &.onDrop {
    cursor: pointer;  
    &:hover {
      border: 3px dashed var(--color-outline);

      svg {
        fill: var(--color-outline);
      }
    }
  }

  svg {
    transition: all 0.3s ease-in-out;
    fill: var(--color-surfaceVariant);
  }
}

.input {
  display: none;
}

.preview-container {
  border-radius: 16px;
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  
  .preview-wrapper {
    @include flexbox(center, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;

    @include mobile-verti() {
      border-radius: 8px;
    }

    .preview {
      border-radius: 16px;
    }
  }

  .button-wrapper {
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 4px;
  }

}

.meetroom-form-wrapper {
  @include flex-direction(column, 40);
  width: 480px;
  @include mobile-verti() {
    width: 271px;
    padding: 24px 2px 0;
  }
  @include mobile() {
    width: 360px;
  }
}

.modal-contents-wrapper {
  @include mobile-verti() {
    width: 271px;
  }
}