@import '../../../../../packages/ui/src/styles/utils';

.reservationContainer{
    display: grid;
    grid-template-columns: 200px 1fr;
    width:100%;
    height: fit-content;

    .reservationFixedSection{
        .emptySection{
            width: 200px;
            height:40px;
        }
    }

    .reservationScrollSection{
        width: 100%;
        overflow-x:overlay;
        position: relative;

        &::-webkit-scrollbar {
            position: absolute;
            width: 4px !important;
            height: 4px !important;
        }
      
        &::-webkit-scrollbar * {
          background:transparent !important; 
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-onSurface-opacity-12);
            border-radius: 5px;
        }

        .reservationHeader{
            display: flex;  
            width:fit-content;
            height:40px;
            background-color: var(--color-onSurfaceVariant-opacity-12);
            border-right: 1px solid var(--color-onSurfaceVariant-opacity-16);
            // padding: 0px 25px;
            // margin-left: -50px;
            .time{
                width:50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.roomList{
    position: relative;
    // display: grid;
    display: flex;
    // background-color: darkblue;
}

.infoContainer{ 
    display: flex;
    position: sticky;
    top:0;
    left:0;

    .dateContainer{
        top:0;
        left:0;
        width: 150px;
        background-color: var(--color-primary);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #fff;
    }

    .slotRoom{
        width: 50px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-onSurfaceVariant-opacity-12);
        border-bottom: 1px solid var(--color-onSurfaceVariant-opacity-16);
     }
}


.slotList{
    height: 40px;
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(25, 50px);

    .slotItem{
        color: #fff;
        outline: 1px solid var(--color-onSurfaceVariant-opacity-12);
        &:hover{
            cursor: pointer;
            background-color: var(--color-primaryContainer)
        }
        &.selected{
            background-color: var(--color-primary)
        }
    }
}

.dateList{
    height:40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(28, 50px);

    .emptyItem{
        background-color: transparent !important;
    }
    .dateItem{
        background-color: var(--color-onSurfaceVariant-opacity-12);
        border-right: 1px solid var(--color-onSurfaceVariant-opacity-16);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.checkboxFlex{
    width: 100%;
    justify-content: left;
    display: flex;
    column-gap: 20px;
}