@import "./variables";

// DESCRIBE 브라우저 크기별 반응형 분기점 mixins
@mixin mobile {
  @media (max-width: $mobile){
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile+1)) and (max-width: $tablet){
    @content;
  }
}

@mixin laptop {
  @media (min-width: ($tablet+1)) and (max-width: $laptop){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop){
    @content;
  }
}

// DESCRIBE Typography

@mixin display-large {
  font-size: $display-large-font;
  line-height: $display-large-line;
  letter-spacing: $display-large-letter;
}

@mixin display-medium {
  font-size: $display-medium-font;
  line-height: $display-medium-line;
  letter-spacing: $display-medium-letter;
}

@mixin display-small {                                                                     
  font-size: $display-small-font;
  line-height: $display-small-line;
  letter-spacing: $display-small-letter;
}

@mixin headline-large {
  font-size: $headline-large-font;
  line-height: $headline-large-line;
  letter-spacing: $headline-large-letter;
}

@mixin headline-medium {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin headline-small {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin title-large {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin title-medium {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin title-small {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin label-large {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin label-medium {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin label-small {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin body-large {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin body-medium {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}

@mixin body-small {
  font-size: $display-large-font;
  line-height: $display-large-font;
  letter-spacing: $display-large-font;
}


// DESCRIBE Scroll

// DESCRIBE 자주 쓰는...!
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}