
// DESCRIBE 반응형 화면 크기
$mobile: 0px;
$tablet: 0px;
$laptop: 0px;
$desktop: 0px;

// DESCRIBE Typography
$display-large-font: 0px;
$display-large-line: 0px;
$display-large-letter: 0px;

$display-medium-font: 0px;
$display-medium-line: 0px;
$display-medium-letter: 0px;

$display-small-font: 0px;
$display-small-line: 0px;
$display-small-letter: 0px;

$headline-large-font: 0px;
$headline-large-line: 0px;
$headline-large-letter: 0px;

$headline-medium-font: 0px;
$headline-medium-line: 0px;
$headline-medium-letter: 0px;

$headline-small-font: 0px;
$headline-small-line: 0px;
$headline-small-letter: 0px;

$title-large-font: 0px;
$title-large-line: 0px;
$title-large-letter: 0px;

$title-medium-font: 0px;
$title-medium-line: 0px;
$title-medium-letter: 0px;

$title-small-font: 0px;
$title-small-line: 0px;
$title-small-letter: 0px;

$label-large-font: 0px;
$label-large-line: 0px;
$label-large-letter: 0px;

$label-medium-font: 0px;
$label-medium-line: 0px;
$label-medium-letter: 0px;

$label-small-font: 0px;
$label-small-line: 0px;
$label-small-letter: 0px;

$body-large-font: 0px;
$body-large-line: 0px;
$body-large-letter: 0px;

$body-medium-font: 0px;
$body-medium-line: 0px;
$body-medium-letter: 0px;

$body-small-font: 0px;
$body-small-line: 0px;
$body-small-letter: 0px;

// DESCRIBE 
$default-padding: 24px 24px 16px 24px;
