
// DESCRIBE 반응형 화면 크기
$mobile: 0px;
$tablet: 0px;
$laptop: 0px;
$desktop: 0px;

// DESCRIBE Typography
$display-large-font: 57px;
$display-large-line: 64px;
$display-large-letter: -0.01em;

$display-medium-font: 45px;
$display-medium-line: 52px;
$display-medium-letter: -0.01em;

$display-small-font: 36px;
$display-small-line: 44px;
$display-small-letter: -0.01em;

$headline-large-font: 32px;
$headline-large-line: 40px;
$headline-large-letter: 0px;

$headline-medium-font: 28px;
$headline-medium-line: 36px;
$headline-medium-letter: 0px;

$headline-small-font: 24px;
$headline-small-line: 32px;
$headline-small-letter: 0px;

$title-large-font: 22px;
$title-large-line: 28px;
$title-large-letter: 0px;

$title-medium-font: 16px;
$title-medium-line: 24px;
$title-medium-letter: 0.1px;

$title-small-font: 14px;
$title-small-line: 20px;
$title-small-letter: 0.1px;

$label-large-font: 14px;
$label-large-line: 20px;
$label-large-letter: 0px;

$label-medium-font: 12px;
$label-medium-line: 16px;
$label-medium-letter: 0px;

$label-small-font: 11px;
$label-small-line: 16px;
$label-small-letter: 0px;

$body-large-font: 16px;
$body-large-line: 24px;
$body-large-letter: 0px;

$body-medium-font: 14px;
$body-medium-line: 20px;
$body-medium-letter: 0px;

$body-small-font: 12px;
$body-small-line: 16px;
$body-small-letter: 0px;

// DESCRIBE 
$default-padding: 24px 24px 16px 24px;
