// #TODO: Primay colors
$primary-050: #e7f0eb;
$primary-100: #cfe2d7;
$primary-200: #a0c5af;
$primary-300: #70a788;
$primary-400: #418a60;
$primary-500: #116d38;
$primary-600: #0e572d;
$primary-700: #0a4122;
$primary-800: #072c16;
$primary-900: #052111;

// #TODO: Secondary colors
$secondary-050: #e6fbf7;
$secondary-100: #b3f4e7;
$secondary-200: #80ecd7;
$secondary-300: #33e1bf;
$secondary-400: #00d9af;
$secondary-500: #00c39e;
$secondary-600: #00ae8c;
$secondary-700: #00987a;
$secondary-800: #006d58;
$secondary-900: #004134;

// $TODO: : Gray colors
$gray-000: #FFFFFF;
$gray-100: #f4f4f5;
$gray-150: #eaeaeb;
$gray-200: #dfdfe0;
$gray-300: #cacacc;
$gray-400: #b6b6b8;
$gray-500: #a2a2a3;
$gray-600: #8d8d8f;
$gray-700: #6b6b6d;
$gray-800: #484748;
$gray-900: #242424;

// $TODO: Text colors
$dark-high: rgba(0, 0, 0, 0.87);
$dark-medium: rgba(0, 0, 0, 0.64);
$dark-low: rgba(0, 0, 0, 0.28);
$bright-high: rgba(255, 255, 255, 0.95);
$bright-medium: rgba(255, 255, 255, 0.74);
$bright-low: rgba(255, 255, 255, 0.38);

// $TODO: Status colors
$warning-light_light: #fff9e5;
$warning-light: #ffe58d;
$warning-medium: #ffc600;
$warning-dark: #faa500;
$danger-light_light: #ffefeb;
$danger-light: #ff9f8b;
$danger-medium: #f25341;
$danger-dark: #d54232;
$nice-light_light: $primary-050;
$nice-light: $primary-300;
$nice-medium: $primary-500;
$nice-dark: $primary-700;
