@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.container {
    @include flex-direction(column, 32);
    position: absolute;
    top: 24px;
    right: 40px;
    bottom: 24px;
    left: 24px;

    @include mobile-verti() {
        @include flex-direction(column, 16);
        top: 12px;
        right: 12px;
        bottom: 12px;
        left: 12px;
    }

    @include mobile() {
        right: 24px;
    }
}

.checkboxFlex{
    // width: 100%;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.title_wrapper {
    position: relative;
    @include flex-direction(column, 16);

    @include mobile-verti() {
        @include flex-direction(column, 8);
    }    
    .calendar_wrapper {
        position: absolute;
        top: 96px;
    }
}