@use "ui/src/styles/themes.scss" as *;
@use "ui/src/styles/color.scss" as *;

html,
body {
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 
