@use "ui/src/styles/themes.scss" as *;
@use "ui/src/styles/color.scss" as *;


@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: url('./fonts/Spoqa Han Sans Neo Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('./fonts/Spoqa Han Sans Neo Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('./fonts/Spoqa Han Sans Neo Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('./fonts/Spoqa Han Sans Neo Light.woff2') format('woff2')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src: url('./fonts/Spoqa Han Sans Neo Thin.woff2') format('woff2')
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, textarea, button,
menu, nav, section, hgroup, article, header, aside, footer {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    // color: rgba(0, 0, 0, 0.87);
    // cursor: default;
  
}

html,
body {
  background-color: var(--color-surface);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
}

