@use "./color.scss" as *;



html[data-theme="light"] {
    --color-text: #{$text-color-1};
    --color-background: #{$bg-color-1};
    --color-btn : #{$btn-color-1};
    --color-primary: #{$primary-color-40};
    --color-onPrimary:  #{$primary-color-100};
    --color-primaryContainer:  #{$primary-color-90};
    --color-onPrimaryContainer:  #{$primary-color-10};
    --color-secondary:  #{$secondary-color-40};
    --color-onSecondary: #{$secondary-color-100};
    --color-secondaryContainer: #{$secondary-color-90};
    --color-onSecondaryContainer: #{$secondary-color-10};
    --color-tertiary: #{$tertiary-color-40};
    --color-onTertiary: #{$tertiary-color-100};
    --color-tertiaryContainer: #{$tertiary-color-90};
    --color-onTertiaryContainer: #{$tertiary-color-10};
    --color-error: #{$error-color-50};
    --color-onError: #{$error-color-100};
    --color-errorContainer: #{$error-color-90};
    --color-onErrorContainer: #{$error-color-10};
    --color-background: #{$neutral-color-99};
    --color-onBackground: #{$neutral-color-10};
    --color-surface: #{$neutral-color-99};
    --color-onSurface: #{$neutral-color-10};
    --color-surfaceVariant: #{$neutralVariant-color-90};
    --color-onSurfaceVariant: #{$neutralVariant-color-30};
    --color-outline: #{$neutralVariant-color-50};
    --color-warning: #{$warning-color-40};
    --color-onWarning: #{$warning-color-100};
    --color-warningContainer: #{$warning-color-90};
    --color-onWarningContainer: #{$warning-color-10};
  }
  
html[data-theme="dark"] {
    --color-text: #{$text-color-2};
    --color-background: #{$bg-color-2};
    --color-btn : #{$btn-color-2};
    --color-primary: #{$primary-color-80};
    --color-onPrimary:  #{$primary-color-20};
    --color-primaryContainer:  #{$primary-color-30};
    --color-onPrimaryContainer:  #{$primary-color-90};
    --color-secondary:  #{$secondary-color-80};
    --color-onSecondary: #{$secondary-color-20};
    --color-secondaryContainer: #{$secondary-color-30};
    --color-onSecondaryContainer: #{$secondary-color-90};
    --color-tertiary: #{$tertiary-color-80};
    --color-onTertiary: #{$tertiary-color-20};
    --color-tertiaryContainer: #{$tertiary-color-30};
    --color-onTertiaryContainer: #{$tertiary-color-90};
    --color-error: #{$error-color-80};
    --color-onError: #{$error-color-20};
    --color-errorContainer: #{$error-color-30};
    --color-onErrorContainer: #{$error-color-90};
    --color-background: #{$neutral-color-10};
    --color-onBackground: #{$neutral-color-90};
    --color-surface: #{$neutral-color-10};
    --color-onSurface: #{$neutral-color-80};
    --color-surfaceVariant: #{$neutralVariant-color-30};
    --color-onSurfaceVariant: #{$neutralVariant-color-80};
    --color-outline: #{$neutralVariant-color-60};
    --color-warning: #{$warning-color-80};
    --color-onWarning: #{$warning-color-20};
    --color-warningContainer: #{$warning-color-30};
    --color-onWarningContainer: #{$warning-color-90};
}