@use "./color.scss" as *;



html[data-theme="light"] {
    --color-text: #{$text-color-1};
    --color-background: #{$bg-color-1};
    --color-btn : #{$btn-color-1};
  }
  
html[data-theme="dark"] {
  --color-text: #{$text-color-2};
  --color-background: #{$bg-color-2};
  --color-btn : #{$btn-color-2};
}