$btn-color-1: #FE016C;
$btn-color-2: #FFBD07;
$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #232323;


$primary-color-0: #000000;
$primary-color-10: #00210A;
$primary-color-20: #003917;
$primary-color-30: #005224;
$primary-color-40: #076D36;
$primary-color-50: #2E874C;
$primary-color-60: #4BA164;
$primary-color-70: #66BD7D;
$primary-color-80: #81D996;
$primary-color-90: #9DF6B0;
$primary-color-95: #C2FFCE;
$primary-color-99: #F3FFF2;
$primary-color-100: #FFFFFF;

$secondary-color-0: #000000;
$secondary-color-10: #0E1F12;
$secondary-color-20: #233426;
$secondary-color-30: #384B3B;
$secondary-color-40: #506352;
$secondary-color-50: #687C6A;
$secondary-color-60: #829683;
$secondary-color-70: #9CB09C;
$secondary-color-80: #B7CCB7;
$secondary-color-90: #D3E8D3;
$secondary-color-95: #E1F6E0;
$secondary-color-99: #F3FFF2;
$secondary-color-100: #FFFFFF;


$tertiary-color-0: #000000;
$tertiary-color-10: #001F25;
$tertiary-color-20: #01363F;
$tertiary-color-30: #204D56;
$tertiary-color-40: #3A656E;
$tertiary-color-50: #537E88;
$tertiary-color-60: #6D98A2;
$tertiary-color-70: #87B2BC;
$tertiary-color-80: #A2CED9;
$tertiary-color-90: #BDEAF5;
$tertiary-color-95: #D1F7FF;
$tertiary-color-99: #F6FDFF;
$tertiary-color-100: #FFFFFF;


$error-color-0: #000000;
$error-color-10: #410001;
$error-color-20: #680003;
$error-color-30: #930006;
$error-color-40: #BA1B1B;
$error-color-50: #DD3730;
$error-color-60: #FF5449;
$error-color-70: #FF897A;
$error-color-80: #FFB4A9;
$error-color-90: #FFDAD4;
$error-color-95: #FFEDE9;
$error-color-99: #FCFCFC;
$error-color-100: #FFFFFF;


$neutral-color-0: #000000;
$neutral-color-10: #1A1C19;
$neutral-color-20: #2F312E;
$neutral-color-30: #454844;
$neutral-color-40: #5C5F5B;
$neutral-color-50: #757873;
$neutral-color-60: #8F928D;
$neutral-color-70: #AAACA7;
$neutral-color-80: #C5C7C2;
$neutral-color-90: #E2E3DE;
$neutral-color-95: #F0F2EC;
$neutral-color-99: #FBFDF7;
$neutral-color-100: #FFFFFF;


$neutralVariant-color-0: #000000;
$neutralVariant-color-10: #161D17;
$neutralVariant-color-20: #2B322B;
$neutralVariant-color-30: #414941;
$neutralVariant-color-40: #596058;
$neutralVariant-color-50: #727971;
$neutralVariant-color-60: #8B938A;
$neutralVariant-color-70: #A6ADA4;
$neutralVariant-color-80: #C1C9BF;
$neutralVariant-color-90: #DDE4DA;
$neutralVariant-color-95: #EBF3E8;
$neutralVariant-color-99: #F6FEF3;
$neutralVariant-color-100: #FFFFFF;


$warning-color-0: #000000;
$warning-color-10: #251A00;
$warning-color-20: #3F2E00;
$warning-color-30: #5A4300;
$warning-color-40: #775A00;
$warning-color-50: #967200;
$warning-color-60: #B58B00;
$warning-color-70: #D6A400;
$warning-color-80: #F7BF00;
$warning-color-90: #FFDF8E;
$warning-color-95: #FFEFCB;
$warning-color-99: #FFFBF7;
$warning-color-100: #FFFFFF;
