@use "./color.scss" as *;



html[data-theme="light"] {
    --color-text: #{$text-color-1};
    --color-btn : #{$btn-color-1};
    --color-primary: #{$primary-color-40};
    --color-primary-opacity-08: #{$primary-color-40}14;
    --color-primary-opacity-12: #{$primary-color-40}1F;
    --color-primary-opacity-16: #{$primary-color-40}29;
    --color-onPrimary:  #{$primary-color-100};
    --color-onPrimary-opacity-08:  #{$primary-color-100}14;
    --color-onPrimary-opacity-12:  #{$primary-color-100}1F;
    --color-onPrimary-opacity-16:  #{$primary-color-100}29;
    --color-primaryContainer:  #{$primary-color-90};
    --color-primaryContainer-opacity-08:  #{$primary-color-90}14;
    --color-primaryContainer-opacity-12:  #{$primary-color-90}1F;
    --color-primaryContainer-opacity-16:  #{$primary-color-90}29;
    --color-onPrimaryContainer:  #{$primary-color-10};
    --color-onPrimaryContainer-opacity-08:  #{$primary-color-10}14;
    --color-onPrimaryContainer-opacity-12:  #{$primary-color-10}1F;
    --color-onPrimaryContainer-opacity-16:  #{$primary-color-10}29;
    --color-secondary:  #{$secondary-color-40};
    --color-secondary-opacity-08:  #{$secondary-color-40}14;
    --color-secondary-opacity-12:  #{$secondary-color-40}1F;
    --color-secondary-opacity-16:  #{$secondary-color-40}29;
    --color-onSecondary: #{$secondary-color-100};
    --color-onSecondary-opacity-08: #{$secondary-color-100}14;
    --color-onSecondary-opacity-12: #{$secondary-color-100}1F;
    --color-onSecondary-opacity-16: #{$secondary-color-100}29;
    --color-secondaryContainer: #{$secondary-color-90};
    --color-secondaryContainer-opacity-08: #{$secondary-color-90}14;
    --color-secondaryContainer-opacity-12: #{$secondary-color-90}1F;
    --color-secondaryContainer-opacity-16: #{$secondary-color-90}29;
    --color-onSecondaryContainer: #{$secondary-color-10};
    --color-onSecondaryContainer-opacity-08: #{$secondary-color-10}14;
    --color-onSecondaryContainer-opacity-12: #{$secondary-color-10}1F;
    --color-onSecondaryContainer-opacity-16: #{$secondary-color-10}29;
    --color-tertiary: #{$tertiary-color-40};
    --color-tertiary-opacity-08: #{$tertiary-color-40}14;
    --color-tertiary-opacity-12: #{$tertiary-color-40}1F;
    --color-tertiary-opacity-16: #{$tertiary-color-40}29;
    --color-onTertiary: #{$tertiary-color-100};
    --color-onTertiary-opacity-08: #{$tertiary-color-100}14;
    --color-onTertiary-opacity-12: #{$tertiary-color-100}1F;
    --color-onTertiary-opacity-16: #{$tertiary-color-100}29;
    --color-tertiaryContainer: #{$tertiary-color-90};
    --color-tertiaryContainer-opacity-08: #{$tertiary-color-90}14;
    --color-tertiaryContainer-opacity-12: #{$tertiary-color-90}1F;
    --color-tertiaryContainer-opacity-16: #{$tertiary-color-90}29;
    --color-onTertiaryContainer: #{$tertiary-color-10};
    --color-onTertiaryContainer-opacity-08: #{$tertiary-color-10}14;
    --color-onTertiaryContainer-opacity-12: #{$tertiary-color-10}1F;
    --color-onTertiaryContainer-opacity-16: #{$tertiary-color-10}29;
    --color-error: #{$error-color-50};
    --color-error-opacity-08: #{$error-color-50}14;
    --color-error-opacity-12: #{$error-color-50}1F;
    --color-error-opacity-16: #{$error-color-50}29;
    --color-onError: #{$error-color-100};
    --color-onError-opacity-08: #{$error-color-100}14;
    --color-onError-opacity-12: #{$error-color-100}1F;
    --color-onError-opacity-16: #{$error-color-100}29;
    --color-errorContainer: #{$error-color-90};
    --color-errorContainer-opacity-08: #{$error-color-90}14;
    --color-errorContainer-opacity-12: #{$error-color-90}1F;
    --color-errorContainer-opacity-16: #{$error-color-90}29;
    --color-onErrorContainer: #{$error-color-10};
    --color-onErrorContainer-opacity-08: #{$error-color-10}14;
    --color-onErrorContainer-opacity-12: #{$error-color-10}1F;
    --color-onErrorContainer-opacity-16: #{$error-color-10}29;
    --color-background: #{$neutral-color-99};
    --color-background-opacity-08: #{$neutral-color-99}14;
    --color-background-opacity-12: #{$neutral-color-99}1F;
    --color-background-opacity-16: #{$neutral-color-99}29;
    --color-onBackground: #{$neutral-color-10};
    --color-onBackground-opacity-08: #{$neutral-color-10}14;
    --color-onBackground-opacity-12: #{$neutral-color-10}1F;
    --color-onBackground-opacity-16: #{$neutral-color-10}29;
    --color-surface: #{$neutral-color-99};
    --color-surface-opacity-08: #{$neutral-color-99}14;
    --color-surface-opacity-12: #{$neutral-color-99}1F;
    --color-surface-opacity-16: #{$neutral-color-99}29;
    --color-onSurface: #{$neutral-color-10};
    --color-onSurface-opacity-08: #{$neutral-color-10}14;
    --color-onSurface-opacity-12: #{$neutral-color-10}1F;
    --color-onSurface-opacity-16: #{$neutral-color-10}29;
    --color-onSurface-opacity-38: #{$neutral-color-10}61;
    --color-surfaceVariant: #{$neutralVariant-color-90};
    --color-surfaceVariant-opacity-08: #{$neutralVariant-color-90}14;
    --color-surfaceVariant-opacity-12: #{$neutralVariant-color-90}1F;
    --color-surfaceVariant-opacity-16: #{$neutralVariant-color-90}29;
    --color-onSurfaceVariant: #{$neutralVariant-color-30};
    --color-onSurfaceVariant-opacity-08: #{$neutralVariant-color-30}14;
    --color-onSurfaceVariant-opacity-12: #{$neutralVariant-color-30}1F;
    --color-onSurfaceVariant-opacity-16: #{$neutralVariant-color-30}29;
    --color-outline: #{$neutralVariant-color-50};
    --color-outline-opacity-08: #{$neutralVariant-color-50}14;
    --color-outline-opacity-12: #{$neutralVariant-color-50}1F;
    --color-outline-opacity-16: #{$neutralVariant-color-50}29;
    --color-warning: #{$warning-color-40};
    --color-warning-opacity-08: #{$warning-color-40}14;
    --color-warning-opacity-12: #{$warning-color-40}1F;
    --color-warning-opacity-16: #{$warning-color-40}29;
    --color-onWarning: #{$warning-color-100};
    --color-onWarning-opacity-08: #{$warning-color-100}14;
    --color-onWarning-opacity-12: #{$warning-color-100}1F;
    --color-onWarning-opacity-16: #{$warning-color-100}29;
    --color-warningContainer: #{$warning-color-90};
    --color-warningContainer-opacity-08: #{$warning-color-90}14;
    --color-warningContainer-opacity-12: #{$warning-color-90}1F;
    --color-warningContainer-opacity-16: #{$warning-color-90}29;
    --color-onWarningContainer: #{$warning-color-10};
    --color-onWarningContainer-opacity-08: #{$warning-color-10}14;
    --color-onWarningContainer-opacity-12: #{$warning-color-10}1F;
    --color-onWarningContainer-opacity-16: #{$warning-color-10}29;
  }
  
html[data-theme="dark"] {
    --color-text: #{$text-color-2};
    --color-btn : #{$btn-color-2};
    --color-primary: #{$primary-color-80};
    --color-primary-opacity-08: #{$primary-color-80}14;
    --color-primary-opacity-12: #{$primary-color-80}1F;
    --color-primary-opacity-16: #{$primary-color-80}29;
    --color-onPrimary:  #{$primary-color-20};
    --color-onPrimary-opacity-08:  #{$primary-color-20}14;
    --color-onPrimary-opacity-12:  #{$primary-color-20}1F;
    --color-onPrimary-opacity-16:  #{$primary-color-20}29;
    --color-primaryContainer:  #{$primary-color-30};
    --color-primaryContainer-opacity-08:  #{$primary-color-30}14;
    --color-primaryContainer-opacity-12:  #{$primary-color-30}1F;
    --color-primaryContainer-opacity-16:  #{$primary-color-30}29;
    --color-onPrimaryContainer:  #{$primary-color-90};
    --color-onPrimaryContainer-opacity-08:  #{$primary-color-90}14;
    --color-onPrimaryContainer-opacity-12:  #{$primary-color-90}1F;
    --color-onPrimaryContainer-opacity-16:  #{$primary-color-90}29;
    --color-secondary:  #{$secondary-color-80};
    --color-secondary-opacity-08:  #{$secondary-color-80}14;
    --color-secondary-opacity-12:  #{$secondary-color-80}1F;
    --color-secondary-opacity-16:  #{$secondary-color-80}29;
    --color-onSecondary: #{$secondary-color-20};
    --color-onSecondary-opacity-08: #{$secondary-color-20}14;
    --color-onSecondary-opacity-12: #{$secondary-color-20}1F;
    --color-onSecondary-opacity-16: #{$secondary-color-20}29;
    --color-secondaryContainer: #{$secondary-color-30};
    --color-secondaryContainer-opacity-08: #{$secondary-color-30}14;
    --color-secondaryContainer-opacity-12: #{$secondary-color-30}1F;
    --color-secondaryContainer-opacity-16: #{$secondary-color-30}29;
    --color-onSecondaryContainer: #{$secondary-color-90};
    --color-onSecondaryContainer-opacity-08: #{$secondary-color-90}14;
    --color-onSecondaryContainer-opacity-12: #{$secondary-color-90}1F;
    --color-onSecondaryContainer-opacity-16: #{$secondary-color-90}29;
    --color-tertiary: #{$tertiary-color-80};
    --color-tertiary-opacity-08: #{$tertiary-color-80}14;
    --color-tertiary-opacity-12: #{$tertiary-color-80}1F;
    --color-tertiary-opacity-16: #{$tertiary-color-80}29;
    --color-onTertiary: #{$tertiary-color-20};
    --color-onTertiary-opacity-08: #{$tertiary-color-20}14;
    --color-onTertiary-opacity-12: #{$tertiary-color-20}1F;
    --color-onTertiary-opacity-16: #{$tertiary-color-20}29;
    --color-tertiaryContainer: #{$tertiary-color-30};
    --color-tertiaryContainer-opacity-08: #{$tertiary-color-30}14;
    --color-tertiaryContainer-opacity-12: #{$tertiary-color-30}1F;
    --color-tertiaryContainer-opacity-16: #{$tertiary-color-30}29;
    --color-onTertiaryContainer: #{$tertiary-color-90};
    --color-onTertiaryContainer-opacity-08: #{$tertiary-color-90}14;
    --color-onTertiaryContainer-opacity-12: #{$tertiary-color-90}1F;
    --color-onTertiaryContainer-opacity-16: #{$tertiary-color-90}29;
    --color-error: #{$error-color-80};
    --color-error-opacity-08: #{$error-color-80}14;
    --color-error-opacity-12: #{$error-color-80}1F;
    --color-error-opacity-16: #{$error-color-80}29;
    --color-onError: #{$error-color-20};
    --color-onError-opacity-08: #{$error-color-20}14;
    --color-onError-opacity-12: #{$error-color-20}1F;
    --color-onError-opacity-16: #{$error-color-20}29;
    --color-errorContainer: #{$error-color-30};
    --color-errorContainer-opacity-08: #{$error-color-30}14;
    --color-errorContainer-opacity-12: #{$error-color-30}1F;
    --color-errorContainer-opacity-16: #{$error-color-30}29;
    --color-onErrorContainer: #{$error-color-90};
    --color-onErrorContainer-opacity-08: #{$error-color-90}14;
    --color-onErrorContainer-opacity-12: #{$error-color-90}1F;
    --color-onErrorContainer-opacity-16: #{$error-color-90}29;
    --color-background: #{$neutral-color-10};
    --color-background-opacity-08: #{$neutral-color-10}14;
    --color-background-opacity-12: #{$neutral-color-10}1F;
    --color-background-opacity-16: #{$neutral-color-10}29;
    --color-onBackground: #{$neutral-color-90};
    --color-onBackground-opacity-08: #{$neutral-color-90}14;
    --color-onBackground-opacity-12: #{$neutral-color-90}1F;
    --color-onBackground-opacity-16: #{$neutral-color-90}29;
    --color-surface: #{$neutral-color-10};
    --color-surface-opacity-08: #{$neutral-color-10}14;
    --color-surface-opacity-12: #{$neutral-color-10}1F;
    --color-surface-opacity-16: #{$neutral-color-10}29;
    --color-onSurface: #{$neutral-color-80};
    --color-onSurface-opacity-08: #{$neutral-color-80}14;
    --color-onSurface-opacity-12: #{$neutral-color-80}1F;
    --color-onSurface-opacity-16: #{$neutral-color-80}29;
    --color-onSurface-opacity-38: #{$neutral-color-80}61;
    --color-surfaceVariant: #{$neutralVariant-color-30};
    --color-surfaceVariant-opacity-08: #{$neutralVariant-color-30}14;
    --color-surfaceVariant-opacity-12: #{$neutralVariant-color-30}1F;
    --color-surfaceVariant-opacity-16: #{$neutralVariant-color-30}29;
    --color-onSurfaceVariant: #{$neutralVariant-color-80};
    --color-onSurfaceVariant-opacity-08: #{$neutralVariant-color-80}14;
    --color-onSurfaceVariant-opacity-12: #{$neutralVariant-color-80}1F;
    --color-onSurfaceVariant-opacity-16: #{$neutralVariant-color-80}29;
    --color-outline: #{$neutralVariant-color-60};
    --color-outline-opacity-08: #{$neutralVariant-color-60}14;
    --color-outline-opacity-12: #{$neutralVariant-color-60}1F;
    --color-outline-opacity-16: #{$neutralVariant-color-60}29;
    --color-warning: #{$warning-color-80};
    --color-warning-opacity-08: #{$warning-color-80}14;
    --color-warning-opacity-12: #{$warning-color-80}1F;
    --color-warning-opacity-16: #{$warning-color-80}29;
    --color-onWarning: #{$warning-color-20};
    --color-onWarning-opacity-08: #{$warning-color-20}14;
    --color-onWarning-opacity-12: #{$warning-color-20}1F;
    --color-onWarning-opacity-16: #{$warning-color-20}29;
    --color-warningContainer: #{$warning-color-30};
    --color-warningContainer-opacity-08: #{$warning-color-30}14;
    --color-warningContainer-opacity-12: #{$warning-color-30}1F;
    --color-warningContainer-opacity-16: #{$warning-color-30}29;
    --color-onWarningContainer: #{$warning-color-90};
    --color-onWarningContainer-opacity-08: #{$warning-color-90}14;
    --color-onWarningContainer-opacity-12: #{$warning-color-90}1F;
    --color-onWarningContainer-opacity-16: #{$warning-color-90}29;
}