@import '../../../styles/utils';
@import '../../elements/Buttons/button.module.scss';

// navBar component 스타일
.navbarContainer {
    padding: 16px 12px;
    width: 256px;
    transition: width 0.3s ease-in-out;
    .topBtnLayout {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
        .exitBtnBox {
            position: absolute;
            top: 0;
            left: 8px;
            z-index: 10;
        }

        .rightBtnBox {
            padding: 4px 0px;
            display: flex;
            transition: opacity 0.3s ease-in-out;
        }
    }

    .logoLayout {
        margin: 16px 0 40px 0;
    }

    .menuLayout {
        .NavSectionBox {
            .sectionHeader {
                flex-direction: column;
                padding: 0 0 0 12px;
                white-space: nowrap;
                height: 56px;
                transition: all 0.3s ease-in-out;
                .divider {
                    width: 208px;
                    border: 1px solid var(--color-outline);
                    transition: width 0.3s ease-in-out;
                }
                .label {
                    @include font-style(label-large);
                    color: var(--color-onSurfaceVariant);
                    padding: 18px 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }

            .NavItem {
                position: relative;
                padding: 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                white-space: nowrap;
                background-color: transparent;
                @include button-state-layer(primary, error);

                .stateLayer {
                    border-radius: 100px !important;
                }

                .label {
                    @include font-style(label-large);
                    color: var(--color-onSurfaceVariant);
                    margin-left: 12px;
                    transition: opacity 0.3s ease-in-out;
                }
                .rightElement{
                    position: absolute;
                }
            }

        }
    }

    &.close{
        width: 80px;
        // transition: width 0.3s ease-in-out;
        .topBtnLayout {
            .rightBtnBox {
                opacity: 0;
            }
        }
        
        .logoLayout {

        }

        .menuLayout {
            .NavSectionBox {
                .sectionHeader {
                    padding: 9px 12px;
                    height: 18px;
                    .divider {
                        width: 32px;
                    }
                    .label {
                        opacity: 0;
                    }
                }
                .NavItem {
                    .label {
                        opacity: 0;
                    }
                }
            }
        }
    }
}