.optionContainer{
  position: relative;
  width: 100%;
  margin-top:4px;

  .optionWrapper{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
  }

  .optionList{
    background-color:var(--color-surface);
    border: 1px solid var(--color-outline);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    z-index: 100;
    max-height: 220px; 
    overflow-y: overlay;

    &::-webkit-scrollbar {
      position: absolute;
      width: 4px !important;
      height: 4px !important;
  }

    &::-webkit-scrollbar * {
      background:transparent !important; 
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-onSurface-opacity-12);
        border-radius: 5px;
    }
  }
}

.option{
    color: var(--color-onSurface);
    background-color: var(--color-surface);
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 40px;
    &.selected{
      background-color: var(--color-onSurface-opacity-12);
      color: var(--color-primary);
    }
    &:hover {
      cursor: pointer;
      background-color: var(--color-onSurface-opacity-08);
    }
}

.noresult{
  color: var(--color-onSurface) !important; 
  background-color: var(--color-surface) !important;
  width: 100%;
  padding: 8px 16px;

}

.selectButtonWrapper{
  position: relative;
  *{
    &:hover{
      cursor: pointer !important;
    }
  }
  .selectButtonIcon{
    position: absolute;
    top:5px;
    right:5px;
  }
}