.roomList{
    display: grid;
    display: flex;
    // background-color: darkblue;

    .dateContainer{
        width:150px;
        background-color: var(--color-primary);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rowWrapper{
        width:100%;
    }
}

.slotList{
    height: 40px;
    width: 100%;
    // height:100%;
    display: grid;
    grid-template-columns: repeat(25, 1fr);

    .slotRoom{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-onSurface-opacity-08) !important;
        height:100%;
        width: 45px;
    }
    .slotItem{
        color: #fff;
        border-bottom: 1px solid var(--color-onSurfaceVariant-opacity-12);
        &:hover{
            cursor: pointer;
            background-color: var(--color-primaryContainer)
        }
        &.selected{
            background-color: var(--color-primary)
        }
    }
}

.dateList{
    height:40px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(25, 1fr);

    .emptyItem{
        background-color: transparent !important;
        width:180px;
    }
    .dateItem{
        background-color: var(--color-onSurfaceVariant-opacity-12);
        border-right: 1px solid var(--color-onSurfaceVariant-opacity-16);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}