@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.onboardingPage-container {
  @include flexbox(center, center);
  width: 100vh;
  height: 100vh;
  margin: 0;

  .card-contents-wrapper {
    @include flexbox(center, center);
    @include flex-direction(column, 20);
    padding: 32px;

    .card-title-wrapper {
      @include flexbox(center, start);
      @include flex-direction(column, 12);
      width: 100%;
      padding: 48px 0px;
    }

    .card-textFields-wrapper {
      @include flex-direction(column, 4);
      width: 100%;
    }
  }
}
