@import "ui/src/styles/variables";
@import "ui/src/styles/utils";

.container {
  @include flex-direction(column, 24);

  .button-wrapper {
    @include flexbox(end, center);
  }

  .meetroomCard-container {
    height: calc(100vh - 112px);

    .meetroomCards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 440px);
      gap: 24px;
      overflow: hidden auto;
      @include scroll-bar();
    }
  }
}