@use "../../../../shared/colors.scss" as *;
@use "../../../../shared/font.scss" as *;
@use "../../../../shared/common.module.scss" as *;
@use "../../../../styles/utils" as *;

.calendar_outer_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: transparent;
    cursor: pointer;
}

.calendar_container {
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    padding: 40px 40px 24px 40px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--color-surface);

    @include mobile-verti() {
        padding: 24px 24px 16px 24px;
    }

    &.singleDate {
        position: fixed !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .calendar_body {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .calendar_description {
        display: flex;
        margin-bottom: 36px;
        align-items: center;
        gap: 5px;
    }

    .calendar_header {
        position: relative;
        @include font-style(title-large);
        color:var(--color-primary);
        .prevBtn{
            position: absolute;
            left: 15px;
            cursor: pointer;
            padding: 0 5px;
        }
        .nextBtn{
            position: absolute;
            right: 15px;
            cursor: pointer;
            padding: 0 5px;
        }
        
    }

    .startEnd_selectBox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        gap: 8px;
    }

    .calendar_header div:hover{
        font-weight: bold;
    }

    .calendar_footer {
        margin-top: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;
    }
}

.calendar_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 214px;
        margin-bottom: 24px;
        @include mobile-verti() {
            margin-bottom: 16px;
        }
    }
    
    .calendar_layout {
        .day_week {
            box-sizing: border-box;
            display: flex;
            margin-bottom: 12px;
            @include mobile-verti() {
                margin-bottom: 0;
            }
            .date{
                width: 48px;
                height: 48px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                @include font-style(body-large);
                color: var(--color-onSurface-opacity-38);

                @include mobile-verti() {
                    @include font-style(body-medium);
                    width: 36px;
                    height: 36px;
                }
            }
            
        }
    
        .week{
            display: flex;
            // border: 1px solid #CACACC;
            border-top: none;
            // border-collapse: collapse;
            box-sizing: border-box;
            div {
                width: 48px;
                height: 48px;  
            }
            @include mobile-verti() {
                div {
                    @include font-style(body-medium);
                    width: 36px;
                    height: 36px;
                }
            }
            .date:last-child {
                border-right: none ;
            }
            
            .this {
                cursor: pointer;
                span{
                    cursor: pointer;
                }
                &.startDate span, &.endDate span{
                    background: var(--color-primary-opacity-16) !important;
                    border-radius: 4px;
                    
                    }
                &.btwDates{
                    background-color: var(--color-primary-opacity-12);
                }
                &.future {
                    cursor: default;
                    span {
                        color: var(--color-onSurface-opacity-38);
                        cursor: default !important;
                    }
                } 
                &.future:hover {
                    background: none;
                }

                .hoverDate {
                    background: var(--color-secondary-opacity-08) !important;
                }
            }
            
            
            .other {
                div {
                    span {
                        display: none;
                    }
                }

            }
            
            .saturday {
                color : var(--color-tertiary);
            }
            
            .sunday {
                color: var(--color-error);
            }
        }
        
    }
    
}